#!/bin/sh

# Source debconf library.
. /usr/share/debconf/confmodule
 
if [ -s /etc/isdn/firmware.conf ]; then
    firmware=`perl -ne 'if (/^FIRMWARE=([^\s]+)/) { print $1; }' /etc/isdn/firmware.conf`
    firmwarecards=`perl -ne 'if (/^FIRMWARECARDS=([^\s#]+)/) { print $1; }' /etc/isdn/isdn.conf`
    if [ ! -z "$firmware" ]; then
        db_set isdnutils/firmware "$firmware"
    fi
    if [ ! -z "$firmwarecards" ]; then
        db_set isdnutils/firmwarecards "$firmwarecards"
    fi
fi
db_input low    isdnutils/makedev
db_input medium isdnutils/firmware
db_go
if [ $? -eq 30 ]; then
	exit 0	# cancel selected
fi
db_get isdnutils/firmware
new_firmware=$RET
if [ "$new_firmware" != none ]; then
    db_input medium isdnutils/firmwarecards
    db_go
    if [ $? -eq 30 ]; then
            exit 0	# cancel selected
    fi
    db_get isdnutils/firmwarecards
fi
db_stop
